@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    /* font-size: 800px !important; */
    /* font-family: 'DM Sans', Courier, monospace !important; */
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
}

input[type="time"]::placeholder {
  visibility: hidden;
}

/* Assuming the input has a class or ID, let's use ".time-input" for example */
/* input[type="time"]::before {
  color: grey;
  content: attr(placeholder);
  padding-right: 20px;
  pointer-events: none;
} */

/* Additional styling for better visibility of the placeholder */
/* input[type="time"] {
  position: relative;
  font-size: 16px;
  padding: 10px;
} */

input[type="date"]::placeholder {
  visibility: hidden;
}

/* Assuming the input has a class or ID, let's use ".time-input" for example */
input[type="date"]::before {
  color: grey;
  content: attr(placeholder);
  /* padding-right: 20px; */
  pointer-events: none;
}

/* Additional styling for better visibility of the placeholder */
input[type="date"] {
  position: relative;
  font-size: 16px;
  padding: 10px;
}

/* #label-input {
  transition: all 0.1s ease-in-out;
  color: #a4a4a4;
  position: absolute;
  top: 30%;
  left: 18px;
  transform: scale(0.95);
  opacity: 1;
  pointer-events: none;
} */

.input-base {
  border-radius: 20px;
  background-color: #f5f5f5;
}

/* #input:focus~label#label-input,
#input:not(:placeholder-shown)~#label-input {
  top: 7% !important;
  left: 2px !important;
  transform: scale(0.8);
  background: #f5f5f5;
  color: #a4a4a4;
  padding: 0 6px;
  opacity: 1;
} */

#input {
  transition: outline 0.2s ease;
  font-size: 1rem;
  border: none;
  outline: none;
  border: 1px solid #bbbbbb;
  padding: 20px 10px 10px 17px;
  width: 100%;
}

#input:focus {
  /* box-shadow: 0 0 0 1px #e8e8e8, 0 0 0 3px rgb(92, 127, 202); */
  border-bottom: 4px solid #00858e;
}

.relative {
  position: relative;
}

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 10px;
  right: -15px;
  top: 50px;
  min-width: 310px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* .dropdown:hover .dropdown-content {
  display: block;
} */

.desc {
  padding: 15px;
  text-align: center;
}

input[type="number"].no-arrows::-webkit-inner-spin-button,
input[type="number"].no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  -webkit-opacity: 0;
  margin: 0 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  -webkit-opacity: 0;
  margin: 0 !important;
}

.search-container {
  position: relative;
  --size-button: 40px;
  /* color: white; */
}

.search-input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  background-color: #EEFCFC;
  color: black;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  /* background-color: #00858e; */
  /* box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e; */
  border-radius: 50px;
  cursor: pointer;
}

.search-input::placeholder {
  color: white;
}

.search-input:focus,
.search-input:not(:invalid) {
  width: 200px;
  cursor: text;
  background-color: #00858e;
  /* box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
    inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e; */
}

/* .search-input:focus+.icon,
.search-input:not(:invalid)+.icon {
  pointer-events: all;
  cursor: pointer;
} */

.search-container .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.search-container .icon svg {
  width: 100%;
  height: 100%;
}

.password-info-tooltip {
  list-style-type: disc;
}

.static {
  position: absolute;
  background: white;
}

.static:hover {
  opacity: 0;
}

.rti--container {
  border-radius: 20px !important;
  padding: 15px 10px 10px 17px !important;
}

/* .rti--container input {
  background-color: red !important;
} */
/* .cDkVPn {
  background: #f7f7f7 !important;
  border-radius: 12px 12px 0px 0px !important;
} */

.pt-0 {
  background: #FFF !important;
  color: black !important;
  border-radius: 0px 0px 11px 12px !important;
}

.accrodian_root {
  background: black !important;
}


.radio_input {
  background-color: greenyellow !important;
}

.radio_input:disabled {
  background-color: greenyellow !important;
}

/* MyEditor.css */

/* Style the outer container of the editor */
.my-editor {
  width: 100%;
  height: 300px;
}

/* Style the Quill editor content area */
.my-editor .ql-editor {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  /* Add any other styles you want for the editor content */
}

/* Style the Quill toolbar */
.my-editor .ql-toolbar {
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  /* Add any other styles you want for the toolbar */
}

/* Style individual toolbar buttons */
.my-editor .ql-toolbar .ql-bold {
  /* Add styles for the bold button */
}

/* Add more styles as needed for other buttons */
.basic-multi-select {
  width: 100%;
  color: black;
  height: 50px;
  /* background: blue !important; */
  margin-top: 8px;
  background-color: none;
}

.css-qbdosj-Input {
  height: 41px !important;
  background: #f4fbfb !important;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #FF3D00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 15%;
  margin-left: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader_button {
  width: 38px;
  height: 38px;
  border: 5px solid;
  border-color: #FF3D00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fixed-size-image {
  width: 300px;
  /* Set the desired fixed width */
  height: 180px;
  /* Set the desired fixed height */
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
}

.table.th {
  background-color: red !important;
}


/* CircularProgressBar.css */

.circular-progress-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.circular-progress {
  position: absolute;
  top: 0;
  left: 0;
}

.circular-progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #000;
  /* Set the text color */
  font-weight: bold;
}

.focus_none:focus {
  outline: none;
  height: 20px !important;
}

.focus_none {
  height: 20px !important;

}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  right: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #00858e;
}

input:focus+.slider {
  box-shadow: 0 0 1px #00858e;
}

input:checked+.slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.CircularProgressbar {
  height: 67% !important;
}